################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/docs
/src/MarketingPlatform.API/appsettings.json
/src/MarketingPlatform.Web/appsettings.json
/src/MarketingPlatform.Web/bin/Release/net8.0
